@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-HeavyItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Bold_Italic.ttf);
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_SemiBold_Italic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Regular_Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

:root {
    /* Blue colors - point toward focal point */
    --blue1: #CDFAFA;
    --blue2: #0AC8B9;
    --blue3: #0397AB;
    --blue4: #005A82;
    --blue5: #0A323C;
    --blue6: #091428;
    --blue7: #0A1428;
    /* Gold colors - frame key information */
    --gold1: #F0E6D2;
    --gold2: #C8AA6E;
    --gold3: #C8AA6E;
    --gold4: #C89B3C;
    --gold5: #785A28;
    --gold6: #463714;
    --gold7: #32281E;
    /* Grey colors - text, background, inactive states */
    --grey1: #A09B8C;
    --grey1p5: #5B5A56;
    --grey2: #3C3C41;
    --grey3: #1E2328;
    --grey-cool: #1E282D;
    --hextech-black: #010A13;
    /* Gradients */
    --dark-gradient-down: linear-gradient(180deg, #091428 0%, #0A1428 100%);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit; 
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    background: var(--hextech-black);
    background: var(--dark-gradient-down);
    
    color: var(--blue1);

    font-family: spiegel;
}

h1, h2, h3, h4, h5 {
    font-family: beaufort;
    font-weight: bold;
    text-transform: uppercase;
}

#main-container {
    color: var(--gold1);
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    min-height: 100vh;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;

    background-color: var(--blue5);
    background: linear-gradient(90deg, var(--blue4) 0%, var(--blue5) 3%, var(--blue5) 97%, var(--blue4) 100%);

    border-bottom: 0.5vw solid var(--gold4);
}

#title, #status {
    font-size: clamp(12px, 1.5vw, 120px);
    text-align: center;

    margin: 0;
    flex: 1;
    
    padding: 12px 0px;
}

#api-button {
    font-family: spiegel;
    width: 50%;
    font-size: clamp(12px, 1.5vw, 120px);
    text-align: center;

    color: var(--blue1);
    background-color: var(--blue4);
    border: 0.25vw solid var(--blue3);
}

#api-button:hover {
    border: 0.25vw solid var(--blue2);
}

#api-button:active {
    color: var(--blue2);
}

#input-container {

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 2;
    gap: 4px;
}

#region-dropdown-box {
    padding: 12px 0px;
    line-height: 32px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#region-dropdown {
    width: 96px;
    height: 2.5vw;

    background-color: var(--blue6);
    
    border: 2px solid var(--blue3);
    
    color: #CDFAFA;
    font-family: spiegel;
    font-size: 1.5vw;
}

#region-dropdown:focus {
    outline: none;
    border: 2px solid var(--blue2);
}

#player-input-box {
    width: calc(100% - 96px);

    line-height: 32px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#player-input {
    width: 100%;
    height: 2.5vw;
    
    background-color: var(--blue6);

    border: 2px solid var(--blue3);
    
    color: #CDFAFA;
    font-family: spiegel;
    font-size: 2vw;
}

#player-input:focus {
    outline: none;
    border: 2px solid var(--blue2);
    background-color: var(--blue6);
}

#error-display {
    background-color: var(--blue6);

    border-top: 4px solid var(--blue5);
    border-bottom: 4px solid var(--blue5);

    padding: 4px;

    font-size: 3vw;
    color: var(--blue1);
}

#information:not(.hidden) {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 5vw;
    font-family: spiegel;
    font-weight: lighter;
    font-style: italic;
    color: var(--blue1);
}

#results {
    width: 75vw;

    background-color: #1E282D;
    background: linear-gradient(90deg, #091428 0%, var(--blue4) 45%, var(--blue4) 55%, #0A1428 100%);

    border-image: linear-gradient(90deg, transparent 0%, var(--gold4) 30%, var(--gold4) 70%, transparent 100%) 1;
    border-width: 4px;
    border-style: solid;

    padding-top: 16px;
    margin-bottom: 96px;

    color: #CDFAFA;
    font-family: spiegel;
    font-size: 4vw;

    text-align: center;
}

#more-button {
    width: 20%;
    height: 5vw;
    margin-bottom: 1vw;
    background-color: var(--blue5);
    border: none;
    border: 0.25vw solid transparent;
    border-bottom: 0.5vw solid var(--blue7);
    color: var(--blue1);
    font-size: 2vw;
    font-family: beaufort;
    font-weight: bold;
    border-radius: 0.25vw;
}

#more-button:hover {
    border: 0.25vw solid var(--blue2);
    border-bottom: 0.5vw solid var(--blue1);
}

#more-button:active {
    color: var(--blue3);
}

#challenges-box {
    width: 100%;
    font-size: 30px;
    color: #A09B8C;

    display: flex;
}

.suggestion-column {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.suggestion-column > p {
    color: #F0E6D2;
    font-size: 2.5vw;

    width: 100%;
    margin: 0;
    
    border-image: linear-gradient(90deg, transparent 0%, var(--gold4) 30%, var(--gold4) 70%, transparent 100%) 1;
    border-width: 4px;
    border-style: solid;

    padding: 16px 0;
}

.results-container {
    width: 80%;

    font-family: spiegel;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 12px 0;
}

.results-container > p {
    margin: 0;

    color: var(--blue1);
    font-size: 1.5vw;
    line-height: 1.5vw;

    background-color: var(--blue4);
    border: 0.5vw solid var(--blue3);
    border-radius: 8px;
    
    height: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.2s;
}

.results-container > p > p {
    pointer-events: none;

    margin: 0;

    color: var(--blue1);
    font-size: 1.5vw;
    line-height: 1.5vw;

    background-color: var(--blue3);
    border: 0.5vw solid var(--blue2);
    border-radius: 8px;
    
    height: 5vw;
    width: 105%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -0.5vw;
    right: 0;
    top: 50%;

    opacity: 0;
    transform: translateY(-45%);
    transition: 0.25s;
}

.results-container > p:hover {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
}

.results-container > p:hover > p {
    z-index: 9999;
    height: 10.5vw;
    opacity: 100;
    transform: translateY(-50%);
}

.hidden {
    display: none;
}

#challenge-full-info-shown, #challenge-full-info-hidden {
    position: fixed;

    width: 40vw;
    height: 60vh;

    top: calc(40vh / 2);
    left: calc(60vw / 2);

    background: var(--blue5);
    border: 0.5vw solid var(--gold3);
    border-radius: 0.5vw;

    padding: 1vw;

    transition: 0.2s;
}

#challenge-full-info-hidden {
    opacity: 0;
    pointer-events: none;

    top: 100vh;
    left: calc(60vw / 2);
}

#challenge-full-info-shown {
    z-index: 99999;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#challenge-info-header {
    display: flex;
    justify-content: space-between;

    font-family: beaufort;
    text-transform: uppercase;
    font-weight: bold;

    width: 100%;
    height: 30%;
}

#challenge-info-header > * {
    display: flex;
    align-items: center;

    font-size: 1.5vw;
}

#challenge-level {
    flex: 1;
    flex-direction: column;
    font-size: 1.25vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#level-rank {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#level-rank img {
    width: 33%;
}

#challenge-close {
    flex: 1;
    font-size: 0.75vw;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-start;
}

#close-button {
    width: 3vw;
    height: 3vw;
    font-size: 2.5vw;
    line-height: 2.5vw;
    background-color: var(--gold5);
    border-color: transparent;
    border-radius: 0.5vw;
    color: var(--gold3);
}

#close-button:hover {
    background-color: var(--gold4);
    color: var(--gold5);
}

#close-button:active {
    background-color: var(--gold4);
    color: var(--gold4);
}

#challenge-name {
    flex: 5;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 2.5vw;
    color: var(--gold3);

    border-image: linear-gradient(90deg, transparent 0%, var(--gold4) 30%, var(--gold4) 70%, transparent 100%) 0 0 1 0;
    border-width: 4px;
    border-style: solid;
}

#challenge-info-description {
    width: 80%;
    height: 50%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5vw;
    font-family: spiegel;
    font-weight: normal;
}

#challenge-info-progress {
    width: 80%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-image: linear-gradient(90deg, transparent 0%, var(--gold4) 30%, var(--gold4) 70%, transparent 100%) 1 0 0 0;
    border-width: 4px;
    border-style: solid;

    font-size: 2vw;
}

#challenge-info-progress-bar {
    width: 80%;
    accent-color: var(--gold3);
}

#challenge-info-progress p {
    margin: 0;
}

#footer {
    font-size: 3vw;
    text-align: center;

    width: 100%;
    
    border-top: 8px solid var(--gold4);

    background-color: var(--blue5);
    background: linear-gradient(180deg, var(--blue4) 0%, var(--blue5) 30%, var(--blue5) 100%);

    padding: 12px 0;

    margin-top: auto;
}