@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-HeavyItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: beaufort;
    src: url(fonts/Beaufort/BeaufortforLOL-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Bold_Italic.ttf);
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_SemiBold_Italic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: spiegel;
    src: url(fonts/Spiegel/Spiegel_TT_Regular_Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

:root {
    /* Blue colors - point toward focal point */
    --blue1: #CDFAFA;
    --blue2: #0AC8B9;
    --blue3: #0397AB;
    --blue4: #005A82;
    --blue5: #0A323C;
    --blue6: #091428;
    --blue7: #0A1428;
    /* Gold colors - frame key information */
    --gold1: #F0E6D2;
    --gold2: #C8AA6E;
    --gold3: #C8AA6E;
    --gold4: #C89B3C;
    --gold5: #785A28;
    --gold6: #463714;
    --gold7: #32281E;
    /* Grey colors - text, background, inactive states */
    --grey1: #A09B8C;
    --grey1p5: #5B5A56;
    --grey2: #3C3C41;
    --grey3: #1E2328;
    --grey-cool: #1E282D;
    --hextech-black: #010A13;
    /* Gradients */
    --dark-gradient-down: linear-gradient(180deg, #091428 0%, #0A1428 100%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: var(--hextech-black);
    background: var(--dark-gradient-down);
    
    color: var(--blue1);

    font-family: spiegel;
}

h1, h2, h3, h4, h5 {
    font-family: beaufort;
    font-weight: bold;
    text-transform: uppercase;
}

#main-container {
    color: var(--gold1);
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    min-height: 100vh;
}

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;

    border-bottom: 0.5vw solid var(--gold4);
}

#title, #status {
    font-size: clamp(12px, 1.5vw, 120px);
    text-align: center;

    margin: 0;
    flex: 1;
    
    padding: 12px 0px;
}

#input-container {

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 2;
    gap: 4px;
}

#region-select-box {
    padding: 12px 0px;
    line-height: 32px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#region-dropdown {
    width: 96px;
    height: 2.5vw;

    background-color: var(--blue6);
    
    border: 2px solid var(--blue3);
    
    color: #CDFAFA;
    font-family: spiegel;
    font-size: 1.5vw;
}

#region-dropdown:focus {
    outline: none;
    border: 2px solid var(--blue2);
}

#player-input-box {
    width: calc(100% - 96px);

    line-height: 32px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#player-input {
    width: 100%;
    height: 2.5vw;
    
    background-color: var(--blue6);

    border: 2px solid var(--blue3);
    
    color: #CDFAFA;
    font-family: spiegel;
    font-size: 32px;
}

#player-input:focus {
    outline: none;
    border: 2px solid var(--blue2);
    background-color: var(--blue6);
}

#slider-box {
    width: 50%;
    text-align: center;
    font-weight: 500;
}

#displayamount-counter {
    margin: 0;

    font-family: beaufort;

    font-size: 2.5vw;
    font-weight: 700;
}

#displayamount-slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 2vw;

    background: var(--blue6);
    outline: none;

    opacity: 0.7;

    -webkit-transition: .2s;
    
    border: 4px solid var(--blue2);

    transition: opacity .2s;
}

#displayamount-slider:hover {
    opacity: 1;
}

#displayamount-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 3vw;
    height: 2vw;

    background: var(--blue2);

    cursor: pointer;
}
  
#displayamount-slider::-moz-range-thumb {
    width: 3vw;
    height: 2vw;

    background: var(--blue2);

    cursor: pointer;
}

#error-display {
    background-color: var(--blue6);

    border-top: 4px solid var(--blue5);
    border-bottom: 4px solid var(--blue5);

    padding: 4px;

    font-size: 2vw;
    color: var(--blue1);
}

#results {
    width: 75vw;

    background-color: #1E282D;
    background: linear-gradient(90deg, #091428 0%, var(--blue4) 45%, var(--blue4) 55%, #0A1428 100%);
    
    border-top: 4px solid var(--gold4);
    border-bottom: 4px solid var(--gold4);

    padding-top: 16px;
    margin-bottom: 96px;

    color: #CDFAFA;
    font-family: spiegel;
    font-size: 4vw;
    
    text-align: center;
}

#challenges-box {
    width: 100%;
    font-size: 30px;
    color: #A09B8C;

    display: flex;
}

.suggestion-column {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.suggestion-column > p {
    color: #F0E6D2;
    font-size: 2.5vw;

    width: 100%;
    margin: 0;
    
    border-top: 4px solid var(--gold4);
    border-bottom: 4px solid var(--gold4);
    background-color: var(--blue5);

    padding: 16px 0;
}

.results-container {
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 12px 0;
}

.results-container > p {
    margin: 0;

    color: white;
    font-size: 1.5vw;
    line-height: 1.5vw;

    background-color: #0397AB;
    border: 0.5vw solid #0AC8B9;
    border-radius: 8px;
    
    height: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.results-container > p > p {
    margin: 0;

    color: white;
    font-size: 1.5vw;
    line-height: 1.5vw;

    background-color: #0397AB;
    border: 0.5vw solid white;
    border-radius: 8px;
    
    height: 9.5vw;
    width: 105%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: -0.5vw;
    right: 0;
    top: 50%;

    opacity: 0;
    transform: translateY(-45%);
    transition: 0.25s;
}

.results-container > p:hover > p {
    z-index: 9999;
    height: 10.5vw;
    opacity: 100;
    transform: translateY(-50%);
}

.hidden {
    display: none;
}

#footer {
    font-size: 3vw;
    text-align: center;

    width: 100%;
    
    border-top: 8px solid var(--gold4);

    padding: 12px 0;

    margin-top: auto;
}